{% extends "base.html" %}
{% block title %}전체 글 | {{ SITENAME }}{% endblock %}

{% block content %}
<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      <header class="major"><h1>전체 글 목록</h1></header>
      <div class="tiles-list">
        {% for article in dates %}
        <div class="list-item">
          <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
          <p class="article-meta">{{ article.date.strftime('%Y.%m.%d') }}
            {% if article.tags %}
              &nbsp;·&nbsp;
              {% for tag in article.tags[:3] %}
                <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
              {% endfor %}
            {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
