{% extends "base.html" %}
{% block title %}{{ category }} | {{ SITENAME }}{% endblock %}

{% block content %}
<div id="main">
  <!-- Post -->
  <article class="post">
    <header class="major">
      <h1>{{ category }}</h1>
      <p>'{{ category }}' 카테고리의 글 목록입니다.</p>
    </header>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>날짜</th>
            <th>제목</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <td style="white-space: nowrap;">{{ article.date.strftime('%Y.%m.%d') }}</td>
            <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </article>
</div>
{% endblock %}
