{% extends "base.html" %}
{% block title %}{{ tag }} | {{ SITENAME }}{% endblock %}

{% block content %}
<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      <header class="major"><h1># {{ tag }}</h1></header>
      <div class="tiles-list">
        {% for article in articles %}
        <div class="list-item">
          <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
          <p class="article-meta">{{ article.date.strftime('%Y.%m.%d') }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
